@font-face {
   font-family: 'SmileySans-Oblique';
   font-display: swap;
   src: url('file:///C:/Users/Administrator/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-04-05_101337/fonts/SmileySans-Oblique/font.ttf');
}
